<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Register</title>
   <link rel="stylesheet" href="style.css"></link>
   <script src="./index.js" defer></script>
</head>
<body>
   <div id="container">
      <div id="container-inputs">
         <div id="maintext"> REGISTER </div>
         <div class="box"><input id="username" placeholder="Username"></div>
         
         <div class="box">
            <input style="flex-grow: 6" type="password" id="password" placeholder="Password">
            <button style="flex-grow: 1" id="show-password-checkbox" onclick="showPass()">Show</button>
         </div>
         <button id="login-button" onclick="register()">REGISTER</button>
         <button id="redirect-button" onclick="redirectToLogin()">Login</button>
      </div>
   </div>
</body>
</html>