<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>
   <link rel="stylesheet" href="./home.css">
   <script src="./home.js" defer></script>
</head>
<body>
   <div id="header"></div>
   <div id="header-content">
      <h1>Cats</h1>
      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor expedita cumque provident mollitia ea inventore praesentium corporis reiciendis tempora temporibus cupiditate placeat voluptatibus fugiat, deleniti repellendus! Provident saepe autem veniam!</h5>
   </div>
   
   <div id="container-items">
      <!-- <div id="item-0" class="item">
         <div class="image" style="background-image: url(https://s1.1zoom.me/big3/988/Cats_Kittens_Lying_down_Paws_574233_6000x4000.jpg);"></div>
         <div class="content">
            <div>Name: Example Name</div>
            <div>Age: 10</div>
            <div>When bored: Smth default</div>
         </div>
      </div> -->
      
   </div>
   <div id="footer">
      <input class="box" id="image-link" placeholder="Image Link">
      <input class="box" id="name" placeholder="Name">
      <button onclick="createInstance()" class="generate-button">Generate Item</button>
   </div>
</body>
</html>