:root{
    --c1: rgb(142, 195, 176);
    --c2: rgb(158, 213, 197);
    --c3: rgb(188, 234, 213);
    --c4: rgb(222, 245, 229);
    --c2op08: rgb(158, 213, 197, 0.6);
}
body, html {
    background-color: var(--c2);
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
  }

#header{
    position: relative;
    background-image: url('https://c.wallhere.com/photos/23/71/cat_sitting_striped-1187932.jpg!d');
    background-repeat: no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: cover;
    background-position: center;
    height: 50%;
    transform: translateY(-1%) translateX(-1%);
    width: 102%;
    
}

#footer{
    background-size: cover;
    background-position: center;
    height: 50%;
    background-color: var(--c1);
}

#header-content{
    background-color: var(--c2op08); /* Black w/opacity/see-through */
    color: rgb(43, 39, 39);;
    font-weight: bold;
    border-radius: 5px;
    border: 3px solid rgb(43, 39, 39);;
    top: 50%;
    left: 50%;
    transform: translate(10%, -140%);
    z-index: 2;
    width: 80%;
    padding: 20px;
}

#container-items{
   display: flex;
   flex-wrap: wrap;
   margin: 2.5vh 0vh;
}

.item{
    width: 30vw;
    background-color:var(--c3);
    height: 60vh;
    border-radius: 10px;
    margin: 2.5vh 1.68vh;
}
.image{
    /* background-image: url(); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70%;
    border-radius: 10px 10px 0px 0px;
}

/* #item-0 > div.image{
    background-image: url(https://s1.1zoom.me/big3/988/Cats_Kittens_Lying_down_Paws_574233_6000x4000.jpg);
} */

.content{
    margin-top: 5%;
    padding: 10px 10px 10px 10px;
    background-color: var(--c1);
    color: rgb(43, 39, 39);
    height: 25%;
    border-radius: 0px 0px 10px 10px;
}

.box{
    margin-left: 40px;
    margin-top: 40px;
    width: 30%;
    border: none;
    margin-bottom: 1vw;
    background-color: var(--c4);
    /* padding: 10px; */
    box-sizing: border-box;
    border-radius: 4px;
 }

 .generate-button{
    margin-left: 40px;
 }
