
body, html {
    background-color: rgb(0, 150, 255);
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
  }

#header{
    position: relative;
    background-image: url('https://c.wallhere.com/photos/23/71/cat_sitting_striped-1187932.jpg!d');
    background-repeat: no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: cover;
    background-position: center;
    height: 50%;
}

#footer{
    background-size: cover;
    background-position: center;
    height: 50%;
    background-color: rgb(0, 215, 255);
}

#header-content{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -130%);
    z-index: 2;
    width: 80%;
    padding: 20px;
}

#container-items{
   display: flex;
   flex-wrap: wrap;
   margin: 2.5vh 0vh;
}

.item{
    width: 30vw;
    background-color:rgb(88, 0, 255);
    height: 60vh;
    border-radius: 10px;
    margin: 2.5vh 1.68vh;
}
.image{
    /* background-image: url(); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70%;
    border-radius: 10px 10px 0px 0px;
}

/* #item-0 > div.image{
    background-image: url(https://s1.1zoom.me/big3/988/Cats_Kittens_Lying_down_Paws_574233_6000x4000.jpg);
} */

.content{
    margin-top: 5%;
    padding: 10px 10px 10px 10px;
    background-color: rgb(0, 56, 58);
    color: rgb(114, 255, 255);
    height: 25%;
    border-radius: 0px 0px 10px 10px;
}

.box{
    margin-left: 40px;
    margin-top: 40px;
    width: 30%;
    border: none;
    margin-bottom: 1vw;
    background-color: rgb(177, 197, 241);
    /* padding: 10px; */
    box-sizing: border-box;
    border-radius: 4px;
 }

 .generate-button{
    margin-left: 40px;
 }
